body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  margin-top: 10px;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
}

.article-title {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.article-subtitle, .comment-subtitle {
  color: rgb(148, 148, 148);
  font-size: 0.9em;
}

.article-body, .comment-body {
  font-size: 0.9em;
}

.article-comments, .delete-button {
  float: right;
}

.vote-up:hover {
  color: green;
}

.vote-down:hover, .delete-button:hover {
  color: rgb(184, 23, 23);
}

.btn-danger {
  float: right;
}

.display-options {
  text-align: right;
}

.display-options > span > select {
  margin-left: 8px;
}

.handle-limit, .handle-sort {
  margin-top: 5px;
  margin-bottom: 5px;
}

.handle-sort {
  margin-left: 20px;
}

@media (max-width: 470px) {
  .display-options {
    display: grid;
  }
}

.pagination {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  text-align: center;
  margin-top: 20px;
}

.prev {
  grid-column: 1 / span 1;
}

.page-num {
  grid-column: 2 / span 1;
  margin: auto;
}

.next {
  grid-column: 3 / span 1;
}

textarea {
  resize: none;
  width: 100%;
  border: 1px lightgray solid;
  border-radius: 3px;
  padding: 10px;
}

.submit-comment {
  text-align: center;
}

.comments, .articles {
  margin-top: 30px;
}